.postNews {
    display: flex;
    margin-bottom: 20px;
}

/* .boxImage{
    width: 30%;
} */
.boxImage img {
    width: 100%;
}

/* .boxContent {
    width: 70%;
    margin-left: 20px;
} */

.boxContent h4 {
    font-size: 20px;
}

.boxContent p {
    margin-bottom: 10px;
}

.boxContent a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 14px;
}

.boxContent a:hover {
    color: red
}

.boxPostNew {
    display: flex;
    margin-bottom: 20px;
}

.boxImagePostNew {
    width: 30%;
}

.boxImagePostNew img {
    width: 100%;
}

.contentPostNew {
    width: 66%;
    margin-left: 4%;
}

.contentPostNew span {
    font-weight: 600;
    font-size: 18px;
}

.contentPostNew p {
    margin: 0;
    font-size: 14px;
    color: #2f679a;
}

.boxNews {
    box-shadow: 2px 2px 5px 2px rgba(157, 155, 155, 0.3);
    padding: 0px 0px 1rem 0px;
}

.contentPostNew a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}