/* Áp dụng cho toàn bộ trang */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* nền track */
}

::-webkit-scrollbar-thumb {
    background: #02d3f7;
    /* màu tay kéo */
    border-radius: 4px;
}

/* Header chính */
.header {
    position: relative;
    width: 100%;
    transition: transform 0.3s ease, opacity 0.3s ease;
    background-color: transparent;
    z-index: 999;
}

.sticky {
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    animation: dropDown 0.3s ease forwards;
}

@keyframes dropDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.boxRight span {
    font-weight: 700;
}

.boxRight ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.boxRight ul li {
    position: relative;
}

.boxRight ul li a {
    text-decoration: none;
    margin-right: 20px;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}

.boxRight ul li a:hover {
    color: rgb(60, 150, 247);
    transition: 0.3s;
}

.active a {
    color: rgb(60, 150, 247) !important;
}

.boxRight span {
    background-color: aqua;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

/* Submenu Dịch vụ */
.service {
    position: relative;
}

.subMenu {
    display: none !important;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    list-style: none;
    padding: 10px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 210px;
    transition: 0.3s ease;
}

.subMenu li {
    padding: 8px 16px;
}

.subMenu li:hover {
    background-color: #f0f0f0;
}

.service:hover .subMenu {
    display: block !important;
    transition: 0.3s ease;
}

.subMenu li a {
    display: block;
    color: #333;
    text-decoration: none;
}

/* Nút đăng ký tư vấn */
.btn {
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #c0adad;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    font-weight: 700;
}

.btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.btn::before {
    content: "";
    background: linear-gradient(45deg, #008cff, #eff0f1, #008cff, #fff);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    opacity: 1;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* Mobile header */
.headerMobile {
    display: none;
}

@media (max-width: 576px) {

    .header {
        display: none;
    }

    .headerMobile {
        display: block;
        width: 100%;
        transition: 0.3s ease-in-out;
        z-index: 9999999;
    }

    .menuMobile {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100vh;
        background-color: #f3f3f3;
        transform: translateX(-100%);
        transition: 0.3s ease-in-out;
        z-index: 99999999;
    }

    .menuIcon {
        z-index: 9999 !important;
    }

    .menuMobile ul {
        list-style: none;
        padding: 0;
    }

    .menuMobile ul li {
        padding: 8px 40px;
    }

    .menuMobile ul li a {
        text-decoration: none;
        color: #333;
    }

    .headerMenu {
        position: relative;
        display: flex;
        align-items: center;
    }

    .headerMenu i {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 20px;
        color: #c6c5c5;
    }


    .menuToggle:checked+.menuIcon+.menuMobile {
        transform: translateX(0);
    }

    .menuToggle:checked+.menuIcon+.menuMobile+.overlay {
        display: block;
    }

    .menuToggle:checked+.menuIcon+.overlay {
        display: none;
    }

    .overlay {
        display: none;
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 9;
        height: 100vh;
    }

    .menuIcon {
        display: flex;
        justify-content: right;
    }

    .menuIcon i {
        font-size: 30px;
    }

    .navMenu {
        display: flex;
        align-items: center;
    }

    .menuIcon svg {
        width: 30px;
        height: 30px;
    }

    .container {
        max-width: 380px;
        margin: 0 auto !important;
    }

}

.container {
    width: 1200px !important;
    margin: 0 auto;
}

/* content bai viet */

.boxPostNew {
    display: flex;
    width: 100%;
}

.boxLeftNews {
    width: 40%;
}

.boxLeftNews img {
    width: 100%;
}

.boxRightNews {
    width: 56%;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    align-items: last baseline;
}

.boxRightNews p {
    font-size: 14px;
    margin: 0;
    margin-top: 5px;
    color: #787676;
    font-weight: 500;
}

.boxRightNews a {
    text-align: left;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: 600;
}

.boxRightNews a:hover {
    color: #008cff;
}

.titlePostHighlight {
    font-size: 20px;
    font-weight: 600;
}

/* footer */

.boxLelf {
    width: 100%;
}

.boxLelf p {
    margin-bottom: 5px;
}

.boxCenter h3 {
    font-size: 20px;
    font-weight: bold;
    color: #366e9f;
}

.boxCenter p {
    margin-bottom: 5px;
}

.contactForm {
    max-width: 500px;
    font-family: Arial, sans-serif;
}

.contactForm .row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.contactForm input,
.contactForm textarea {
    width: 100%;
    padding: 10px 20px;
    border: none;
    background-color: #f5ece5;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 16px;
    resize: none;
    box-sizing: border-box;
}

.contactForm .row input {
    width: 50%;
}

.btnSend {
    text-align: center;
}

.btnSend button {
    border: none;
    padding: 10px 50px;
    background-color: aqua;
    border-radius: 10px;
}

.contactForm select {
    width: 100%;
    padding: 10px 20px;
    border: none;
    background-color: #f5ece5;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 16px;
    box-sizing: border-box;
    appearance: none;
    /* ẩn mũi tên mặc định nếu muốn tự thiết kế */
}

.boxSendInfo h3 {
    font-size: 20px;
    font-weight: bold;
    color: #366e9f;
}

@media (max-width: 576px) {
    .header {
        display: none;
    }
}