.ads section {
    margin: 40px 0px;
}

.boxBanner img {
    width: 100%;
}

.boxContentReason h1 {
    font-size: 35px;
    font-weight: bold;
}

.boxContentReason ul {
    margin: 20px 0px;
}

.boxContentReason ul li {
    font-size: 16px;
}

.boxContentReason button {
    background-color: red;
    padding: 15px 30px;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    border: none;
    outline: none;
}

.boxThongKe {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    box-shadow: 2px 2px 5px 4px rgba(197, 195, 195, 0.3);
}

.boxLelf svg {
    width: 50px;
    height: 50px;
    color: rgb(173, 191, 191);
}

.boxRight{
    margin-left: 20px;
}

.boxRight h1{
    font-size: 40px;
    font-weight: bold;
}

.boxRight p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #7f7979;
}

/* section 3 */

.contentLeft{
    width: 47.5%;
    margin-right: 5%;
}
.contentRight{
    width: 47.5%;
}

.boxImage img{
    width: 100%;
}
.content h4{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.content p{
    font-size: 22px;
}
.titleGiapPhap {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin: 40px 0px;
}

/* section cuoi */
.boxTuVan {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    padding: 20px 0px;
}
.boxTuVan span{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    margin-right: 50px;
}
.boxTuVan button{
    border: none;
    outline: none;
    background-color: yellow;
    padding: 10px 30px;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
}

/* section 4 */
.boxProcess {
    display: flex;
}
.boxIcon svg{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.boxProcessContent span{
    font-weight: 700;
    font-size: 20px;
}
.boxProcessContent p{
    font-size: 16px;
    margin: 0;
    margin-top: 5px;
}

.titleQuiTrinh {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 40px;
}

.ImageQuiTrinh img {
    width: 100%;
}