* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px !important;
  margin: 0 auto;
}

.slick-slider {
  width: 100%;
  margin: 0px 40px;
}


.slick-slider {
  margin: 0;
}

.MuiModal-root {
  z-index: 99999 !important;
}

/* Áp dụng cho toàn bộ trang */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* nền track */
}

::-webkit-scrollbar-thumb {
  background: #02d3f7;
  /* màu tay kéo */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

._editSlider_1ae84_319 .slick-prev {
  left: 40px !important;
  z-index: 9;
}

._editSlider_1ae84_319 .slick-next {
  right: 40px !important;
}

/* slide website */
._section2_h3yyw_33 .slick-prev:before,
.slick-next:before {
  color: grey !important;
}


._section4_rdpqk_261 .slick-prev:before {
  color: grey !important;
}

._section4_rdpqk_261 .slick-dots {
  display: none !important;
}

@media (max-width: 575px) {
  .container {
    max-width: 380px;
    margin: 0 auto !important;
  }

  ._editSlider_1ae84_319 .slick-prev {
    left: 20px !important;
    z-index: 9;
  }

  ._editSlider_1ae84_319 .slick-next {
    right: 20px !important;
  }
}