* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px !important;
  margin: 0 auto;
}

.slick-slider {
  width: 100%;
  margin: 0px 40px;
}


.slick-slider {
  margin: 0;
}